<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Tipos de Cuentas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">

      <div class="col-lg-4">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Cuenta Corriente</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <p>Información de la Cuenta Corriente</p>
            <p>Saldo: $XXX.XX</p> 
            <mat-divider></mat-divider> <h4>Gestión Financiera</h4>
            <ul>
              <li>Últimos movimientos</li>
              <li>Gráfico de gastos por categoría</li>
              <li>Resumen mensual</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Cuenta de Crédito</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <p>Información de la Cuenta de Crédito</p>
            <p>Saldo: $XXX.XX</p> 
            <mat-divider></mat-divider> 
            <h4>Gestión Financiera</h4>
            <ul>
              <li>Próximo pago</li>
              <li>Tasa de interés</li>
              <li>Límite de crédito</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Cuenta de Ahorro</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <p>Información de la Cuenta de Ahorro</p>
            <p>Saldo: $XXX.XX</p>
            <mat-divider></mat-divider> 
            <h4>Gestión Financiera</h4>
            <ul>
              <li>Intereses acumulados</li>
              <li>Metas de ahorro</li>
              <li>Simulador de inversión</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

    </div> </mat-card-content>
</mat-card>
